<% include partials/header %>	
	<div class="container" id="head-info">
		<div class="jumbotron">
			<h2>Current City: Chicago, IL</h2>
			<hr>
		</div>	
	</div>

	<div class="container">
		<div class="temp">
            <p>Current Temp:</p>
            <br>
            <%= temp %>
		</div>
	</div>
    <% include partials/footer %>