<% include partials/header %>	        
        <div class="container" id="head-info">
                <div class="jumbotron">
                    <h2>Please Enter a Valid City or Zip!</h2>
                    <hr>
                </div>	
            </div>
<% include partials/footer %>